# macOS junk
.DS_Store
.AppleDouble
.LSOverride

# Cadence Genus/Innovus/Xcelium
*.log
*.log*
*.cmd
*.cmd*
*.rpt
*.key
*.svwf
*.tcl.old

# Tool Directories
INCA_libs/
fv/
pe64_lookahead.enc.dat/
*.enc.dat/
waves.shm/
nclaunch/
.simvision/

# Output files
*.vcd
*.dump
*.netlist.v
*.output.sdc
*.gds
*.gz
*.bin